// scss for a single blog post view
.post {
  height: 185px;
  background-color: white;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6em;
  font-weight: lighter;
  // border-bottom: 2px solid black;
  -webkit-box-shadow: 0px 1px 13px 1px rgba(247,247,247,0.56);
  -moz-box-shadow: 0px 1px 13px 1px rgba(247,247,247,0.56);
  box-shadow: 0px 1px 13px 1px rgba(247,247,247,0.56);
  flex-wrap: wrap;
}

.tl-user-name {
  color: #757473;
  font-size: .7em;
  font-style: italic;
  margin-top: -10px;
}

.tl-hike-location{
  color:#b7b3b0;
  font-weight: lighter;
  font-size: .7em;
  margin-top: 110px;
}

.tl-hike-name {
  font-weight: bolder;
  font-size: .8em;
  margin-bottom: 50px;
}
