// scss for profile view


.profile-header {
  display: flex;
  font-family: "Verdana";
  height: 160px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.profile-user-photo {
  flex-direction: row;
}
.profile-user-info {
  flex-direction: row;
  text-align: left;
  padding: 1%;
  .profile-name {
    margin: 5px;
    padding-bottom: 10px;
    font-family: "Verdana";
  }
  .member-since {
    margin: 5px;
    padding-bottom: 10px;
    font-family: "Verdana";
  }
  .profile-blurb {
    margin: 5px;
    font-family: "Verdana";
    text-overflow: ellipsis;
    height: 4em;
    overflow: scroll;
  }
}
.profile-img {
  height: 120px;
  width: 120px;
  margin-top: 30px;
  border-radius: 50%;
}

.hike {
  float: left;
  width: 32%;
  margin: 0.5%;
  background-color: white;
}

.no-user-posts {
  color: #578157;
	font-family: 'Amatic SC';
	font-size: 2em;
  font-weight: bold;
}


.profile-posts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 10px;
  padding: 20px;
}
.profile-icon {
  height: 60%;
  width: 60%;
}
.profile-post-title {
  font-family: "Verdana";
}

.profile-post-location {
  font-family: "Verdana";
  color: #ccc;
}
