
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'verdana';
  img {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    border-radius: 50%;
    flex-grow: 0;
  }
  .edit-settings {
    font-size: 1.6em;
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h3 {
      font-size: 60%;
      align-self: center;
      color: red;
      cursor: pointer;
    }
  }
  .edit-settings:last-child {
    margin-bottom: 30px;
  }
}

// scss for settigns view
