.splash-intro {
	font-family: 'Amatic SC', cursive;
	width:100%;
	margin-top: 25px;
	margin-bottom: 25px;
  font-size: 6em;
  font-weight: 700;
	text-align: center;
	color: #603919;
}
.front-door {
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	margin-top: 25px;
}
.color-white {
	fill: white;
}

.google-button {
	border:none;
	flex-direction: row;
	margin-top: 35px;
	width:80%;
	display: block;
	height: 50px;
	background-color:white;
	font-family: "Verdana";
	font-size: 1.2em;
	margin: auto;
	margin-bottom: 50px;
	transition: color 1s, width 1s, height 1s, background-color 1s, transform 1s;
}

.google-button:hover {
		margin-top: 35px;
	border:none;
	flex-direction: row;
	background-color: #fc511d;
	width:80%;
	display: block;
	height: 50px;
	color: green;
	font-family: "Verdana";
	font-size: 1.2em;
}

.splash-content {
	height: 100%;
	background-color: #dae8d6;
}
#contento {
	background-color: #dae8d6;
}

/////////// new stuff

.splash-body {
	margin: 0;
	background: #dae8d6;
	transition: 10s ease;
	height: 300px;
	width: 100%;
	margin: 0 auto;
}
.cont {
	width: 100%;
	height:0;
	margin: 0 auto;
}
.sky{
	width: 100%;
	height: 250px;
	z-index: 2;
	background: linear-gradient(#036, #17b,#2cb);
	transition: 5s ease;
	margin: 0 auto;
	margin-bottom: 35px;
}
.sky-dawn{
	width:100%;
	height: 100%;
	z-index: 2;
	top: 0;
	background: linear-gradient(#78d, #a8d,#eeb);
	opacity:0;
	transition: 5s ease;
	margin: 0 auto;
}
.sky-day{
	width:100%;
	height: 100%;
	z-index: 2;
	top: 0;
	background: linear-gradient(#1bf,#6df,#bfe);
	opacity:0;
	transition: 5s ease;
	margin: 0 auto;
}
.show{
	opacity: 1;
}
.foreground{
	position: relative;
	width: 100%;
	z-index: 10;
	fill: #036;
	margin: 0 auto;
}
