.splash-intro {
	font-family: 'Amatic SC', cursive;
	width:100%;
	display: block;
	margin: 10px;
	margin-top: 25px;
	margin-bottom: 50px;
  font-size: 6em;
  font-weight: 700;
	text-align: center;
}
.front-door {
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	margin-top: 25px;
}
.color-white {
	fill: white;
}

.brand {
	margin-top: 80px;
}
.google-button {
	border:none;
	flex-direction: row;
	background-color: #fc511d;
	width:80%;
	display: block;
	height: 50px;
	color: white;
	font-family: "Verdana";
	font-size: 1.2em;
	margin: auto;
	margin-bottom: 50px;
	// transition: color 1s, width 1s, height 1s, background-color 1s, transform 1s;
}

.google-button:hover {
	border:none;
	flex-direction: row;
	background-color:white;
	width:80%;
	display: block;
	height: 50px;
	color: green;
	font-family: "Verdana";
	font-size: 1.2em;
}

.splash-content {
	height: 100%;
  margin-top: -80px;
}

//// globals

a {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a::before {
	text-decoration: none;
}
