<nav class='nav-bar'>
  <div class='nav-component third'>
    <a href='/timeline'><img src='/images/tag_images/mountain.png' class='icon'></a>
  </div>
  <div class='nav-component third'>
    <a href='/addpost'><img src='/images/nav_images/mountain.png' class='icon'></a>
  </div>
  <div class='nav-component third'>
    {{#if showSettings}}
      <a href='/settings'><img src='/images/nav_images/mountain.png' class='icon'></a>
    {{else}}
      <a href='/settings'><img src='/images/nav_images/mountain.png' class='icon'></a>
    {{/if}}
  </div>
</nav>
