<nav class='nav-bar'>
  <div class='nav-component third'>
    <a href='/timeline'><img src='../public/images/tag_images/lake.png'></a>
  </div>
  <div class='nav-component third'>
    <a href='/addpost'><img src='/images/nav_images/mountain.png'></a>
  </div>
  <div class='nav-component third'>
    {{#if showSettings}}
      <a href='/settings'><img src='/images/nav_images/mountain.png'></a>
    {{else}}
      <a href='/profile/{{id}}'>Profile</a>
    {{/if}}
  </div>
</nav>
