<!-- Navigation -->
{{> navbar }}

<!-- Page call to action -->
<h1 class='call-to-edit'>Tell the world about your hike</h1>

<!-- Create a post form -->
<form class='create-post-form' name="post" action='/addpost' method="POST">
  <label for="title"class='post-title'>Title</label>
  <input name='title' type='text' placeholder="Title" class='title-input'>
  <label for="body" class='post-body'>Description</label>
  <input type="textarea" name='body' rows="10" cols="50" class='body-input' placeholder="Give us the dirt!">
  <label for="add-tags" class='post-tags'>Tag Your Hike</label>
  <input type="multi" name="add-tags" value="">
  </input>

  <!-- <div class='tag-container'>
    <input type="radio" name="adventerous" class='tag-toggle'>
    <input type="radio" name="Awesome" class='tag-toggle'>
    <input type="radio" name="Relaxing" class='tag-toggle'>
  </div> -->

  <input type='submit' value='submit' class='submit-button'>
</form>

<!-- Footer -->
<footer class='app-footer'>
  <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
</footer>
<script type="text/javascript" src='javascripts/makepost.js'>

</script>
