<main>
  <header class='create-profile-header'>
    <div class='user-image'>
      <img src="{{profile.profilePhoto}}" alt="User Profile Photo" class='create-profile-img' />
      <p>Welcome {{profile.displayName}}</p>
    </div>
    <div class='choose-name'>
      <h1>Choose your user name for Trail Mix!</h1>
    </div>
  </header>
  <form action='/makeprofile' method="POST" class='create-profile-form'>
    <label class='display-name'>Username:</label>
    <input type='text' name='userName' placeholder="What should we call you?">
    <input type='submit' value="Complete profile" class='submit-button'>
  </form>
</main>
<footer class='app-footer'>
  <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
</footer>
<script src="javascripts/makeprofile.js"></script>
