<nav class='nav-bar'>
  <div class='nav-component'><a href='timeline'>Home</a></div>
  <div class='nav-component'><h1 class='active'>Post View</h1></div>
  <div class='nav-component'><a href='editor'>Add Post</a></div>
  <div class='nav-component'><a href='profile'>Profile</a></div>
</nav>

<header class="post-header">

</header>
<main class="single-post">
  <article class='post'>
    <div class='tl-user-info third'>
      <img class='profile-img-placeholder' src='images/profile.png' />
      <p class='tl-user-name'>User Name</p>
    </div>
    <div class='tl-hike-info third'>
      <h1 class='tl-hike-name'>Hike Name</h1>
      <p class='tl-hike-location'>Location</p>
    </div>
    <div class='tl-tag third'>
      <img src='images/gem.png' class='icon'/>
    </div>
  </article>
</main>
<!-- Footer -->
<footer class='app-footer'>
  <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
</footer>
