<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timeline</title>
    <!-- Stylesheets -->
    <link rel='stylesheet' href='./css/main.css' />
    <link rel='stylesheet' href='./css/timeline.css' />
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='../js/client.js'></script>
    <script src='../js/timeline.js'></script>
  </head>
  <body>

    <!-- Navigation -->
    <nav class='nav-bar'>
      <div class='nav-component'><a href='./timeline.html'>Home</a></div>
      <div class='nav-component'><h1 class='active'>Timeline</h1></div>
      <div class='nav-component'><a href='./editor.html'>Add Post</a></div>
      <div class='nav-component'><a href='./profile.html'>Profile</a></div>
    </nav>

    <!-- Filter bar  visible-->
    <div id='filter-bar' class='filter'>
      <div class='filter-components'>
        <p class='filter-component half filter-call'>Filter by category</p>
        <button class='down-arrow filter-component half'>
          <img src='../public/photos/down_arrow.png' class='icon' />
        </button>
      </div>

      <!-- Filter bar hidden -->
      <div id='filter-drop-down' class='hidden drop-down'>
        <div class='tag-icon'><img src='../public/photos/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/photos/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/photos/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/photos/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/photos/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/photos/gem.png' class='icon'/></div>
      </div>
    </div>

    <!-- Beginning of timeline feed -->
    <div class='time-line'>

      <!-- add a post button -->
      <div class='add-post'>
        <button class='create-post'>
          <a href='./editor.html'>
            <img src='../public/photos/post.png' class='icon'/>
          </a>
        </button>
      </div>

      <!-- sample post # 1 -->
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/photos/profile.png' />
          <p class='tl-user-name'>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p class='tl-hike-location'>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/photos/gem.png' class='icon'/>
        </div>
      </article>

      <!-- sample post # 2 -->
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/photos/profile.png' />
          <p class='tl-user-name'>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p class='tl-hike-location'>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/photos/gem.png' class='icon'/>
        </div>
      </article>

      <!-- sample post # 3 -->
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/photos/profile.png' />
          <p class='tl-user-name'>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p class='tl-hike-location'>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/photos/gem.png' class='icon'/>
        </div>
      </article>

      <!-- sample post # 4 -->
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/photos/profile.png' />
          <p class='tl-user-name'>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p class='tl-hike-location'>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/photos/gem.png' class='icon'/>
        </div>
      </article>

      <!-- sample post # 5 -->
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/photos/profile.png' />
          <p class='tl-user-name'>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p class='tl-hike-location'>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/photos/gem.png' class='icon'/>
        </div>
      </article>

      <!-- sample post # 6 -->
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/photos/profile.png' />
          <p class='tl-user-name'>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p class='tl-hike-location'>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/photos/gem.png' class='icon'/>
        </div>
      </article>
    </div>  <!-- End of timeline feature -->

    <!-- Footer -->
    <footer class='app-footer'>
      <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
    </footer>

  </body>
</html>
