// Filter Bar Styling
.filter {
  width: 100%;
  height: 70px;
  background-color: #824c23;
  z-index: 99;
  justify-content: center;
  font-family: "verdana";
  color:#fc9447;
}
.filter-components {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-component {
  flex-direction: row;
}
// Drop down menu styles
.drop-down {
  height: 80px;
  background-color: #bf9271;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width:100%;
}
// Icon stylings
.tag-icons {
  list-style: none;
}
.icon {
  height:40px;
  width:40px;
}
.tag-icon {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
}
.down-arrow {
  border: none;
  background: transparent;
}

.hidden {
  display: none;
}
// Post Styling

.post {
  height: 185px;
  background-color: white;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6em;
  font-weight: lighter;
  // border-bottom: 2px solid black;
  -webkit-box-shadow: 0px 1px 13px 1px rgba(247,247,247,0.56);
  -moz-box-shadow: 0px 1px 13px 1px rgba(247,247,247,0.56);
  box-shadow: 0px 1px 13px 1px rgba(247,247,247,0.56);
  flex-wrap: wrap;
}

.tl-user-name {
  color: #757473;
  font-size: .7em;
  font-style: italic;
  margin-top: -10px;
}

.tl-hike-location{
  color:#b7b3b0;
  font-weight: lighter;
  font-size: .7em;
  margin-top: 110px;
}

.tl-hike-name {
  font-weight: bolder;
  font-size: .8em;
  margin-bottom: 50px;
}

.filter-call {
  // margin-right:20%;
}
.down-arrow {
  // text-align: right;
  // margin-left: 20%;
}
.profile-img-placeholder {
  margin-top: 20px;
  height: 90px;
  width: 90px;
}

// create post
.create-post {
  border: none;
  background-color: #fc511d;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  width:70px;
  height: 70px;
  bottom: 10px;
  right:10px;
}

.tl-hike-info > h1, p {
  margin-top:25px;
  margin-bottom: 25px;
}
